*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    width: 100%;
    height:100px;
    /* line-height: 50px; */
    background-color: lightcoral;  
}
nav{
    width: 100%;
    height:100px;
    line-height: 100px;
    background-color: lightgreen;  
}
h1{
    font-size: 30px;
    text-align: center;
    line-height: 100px;   
}
h4{
    text-align: center;
}
main{
    min-height:1200px;
}
aside.leftAside{
    width: 25%;
    background-color: blueviolet;
    float: left;
    min-height:1200px;
}
section{
    width: 50%;
    background-color: beige;
    float: left;
    min-height:1200px;
}
aside.rightaside{
    width: 25%;
    background-color: aquamarine;
    float: left;
    min-height:1200px;
}
footer{
    background-color: lightslategray;
    height: 200px;
}
nav > ul > li{
    list-style: none;
    float: left;
    margin-left:20px;    
}
nav a{
    text-decoration: none;
}