body{
    margin:0px;
    font-family: 'body';
}
@font-face {
    font-family: "body";
    src: url(../font/belligerent.ttf) format("truetype");
}
header,footer{
    height: 100px;
    width: 99.8%;
    border: 2px dashed red;
    text-align: center;
}
main{
    height: 1200px;
    border: 2px solid green;
    text-align: center;
} 
aside[data-leftaside="left"]{
    width: 25%;
    min-height: 1200px;
    /* background-color: burlywood; */
    float: left;
}
section[data-section="section"]{
    width:50%;
    min-height: 1200px;
    /* background-color: violet; */
    float: left;
}
aside[data-rightaside="right"]{
    width:25%;
    min-height: 1200px;
    /* background-color: tomato; */
    float: left;
}
footer{
    height: 150px;
}
@media only screen and (max-width: 600px){
    body{
        background-color: silver;
    }
}
@media only screen and (min-width: 601px){
    body{
        background-color: aquamarine;
    }
}
